<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registration</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="csrf-header" data-th-content="${_csrf.headerName}">
        <meta name="csrf-token" data-th-content="${_csrf.token}">
    </head>
    <body>
        <form id="userData" th:action="@{/registration}" method="post">
            <p id="message"></p>
            <b>Enter username: </b><input type="text" name="username" placeholder="Username" required/><br>
            <b>Enter password: </b><input type="password" name="password" placeholder="Password" required/><br>
            <b>Enter password again: </b><input type="password" name="passwordAgain" placeholder="Password" required/><br>
            <button type="button" onclick="submitForm()">Register</button>
            <button type="button" onclick="login()">Login</button>
	    </form>
        <script src="js/reg.js"></script>    
    </body>
</html>
