<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Roles</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="csrf-header" data-th-content="${_csrf.headerName}">
        <meta name="csrf-token" data-th-content="${_csrf.token}">
    </head>
    <body>
        <span id="id" th:text="${id}" hidden></span>
        <span id="adminAuthority" th:text="${adminAuthority}" hidden></span>
        <table id="roles" hidden>
            <tr th:each="role : ${roles}">
                <td th:text="${role}"></td>
            </tr> 
        </table> 
        <form id="userRoles">
            <h1>User infomation: </h1>
            <p><b th:text="${username}"></b></p>       
            <span>USER</span> <input type="checkbox" name="userRole" id="ROLE_USER"></p>
            <span>ADMIN</span>  <input type="checkbox" name="userRole" id="ROLE_ADMIN"></p>
            <span>SUPERADMIN</span>  <input type="checkbox" name="userRole" id="ROLE_SUPERADMIN"></p>
            <span>MASTER</span>   <input type="checkbox" name="userRole" id="ROLE_MASTER"></p>
            <button button type="button" onclick="change()">Change roles</button>
            <button button type="button" onclick="reload()">Reload page</button>
        </form>
        <script>
            var csrfToken = document.querySelector('meta[name="csrf-token"]').content;
            var header = document.querySelector('meta[name="csrf-header"]').content;
            var rows = document.getElementById("roles").querySelectorAll("tr");
            var roles = [];
            rows.forEach(r => roles.push(r.querySelector("td").innerHTML));
            roles.forEach(r => document.getElementById(r).checked = true);
            
            function reload() {
                location.reload();
            }
            
            function change() {
                var adminAuthority = document.getElementById("adminAuthority").innerHTML;
                if (adminAuthority === "ROLE_ADMIN") {
                    console.error("Admin doesn't have rights to change roles");
                    return;
                }
                var rolesForAdd = [];
                var rolesForDelete = [];
                var checkboxes = document.getElementsByName("userRole");
                checkboxes.forEach(r => {
                    if (r.checked) {
                        if (!roles.includes(r.id)) {
                            rolesForAdd.push(r.id);
                        }
                    } else {
                        if (roles.includes(r.id)) {
                            rolesForDelete.push(r.id);
                        }
                    }
                });
                if (rolesForAdd.length === 0 && rolesForDelete.length === 0) {
                    console.log("Seems like here nothing to change");
                    return;
                }
                if (rolesForDelete.includes("ROLE_USER")) {
                    console.error("You can't delete ROLE_USER");
                    return;
                }
                if (rolesForAdd.length !== 0 && rolesForDelete.length !== 0) {
                    console.error("You cannot give and delete roles at the same time");
                    return;
                }
                if (adminAuthority === "ROLE_SUPERADMIN" && (rolesForAdd.includes("ROLE_SUPERADMIN") || rolesForAdd.includes("ROLE_MASTER"))) {
                    console.error("Superadmin can't give superadmin and master rights");
                    return;
                }
                if (adminAuthority === "ROLE_SUPERADMIN" && (rolesForDelete.includes("ROLE_SUPERADMIN") || rolesForDelete.includes("ROLE_MASTER"))) {
                    console.error("Superadmin can't delete superadmin and master rights");
                    return;
                }
                try {
                    rolesForAdd.forEach(r => {
                        if (r === "ROLE_SUPERADMIN") {
                            if (!rolesForAdd.includes("ROLE_ADMIN") && !roles.includes("ROLE_ADMIN")) {
                                throw { message: "It's impossible to give superadmin rights without admin rights" };
                            }
                        }
                        if (r === "ROLE_MASTER") {
                            if (!rolesForAdd.includes("ROLE_SUPERADMIN") && !roles.includes("ROLE_SUPERADMIN")) {
                                throw { message: "It's impossible to give master rights without superadmin rights" };
                            }
                        }
                    });
                } catch(e) {
                    console.error(e.message);
                    return;
                }    
                rolesForDelete.reverse();
                try {
                    rolesForDelete.forEach(r => {
                        if (r === "ROLE_SUPERADMIN") {
                            if (roles.includes("ROLE_MASTER")) {
                                throw { message: "It's impossible to delete superadmin rights from master" };
                            }
                        }
                        if (r === "ROLE_ADMIN") {
                            if (roles.includes("ROLE_SUPERADMIN")) {
                                throw { message: "It's impossible to delete admin rights from superadmin" };
                            }
                        }
                        roles.pop();
                    });
                } catch (e) {
                    console.error(e.message);
                    return;
                }
         
                var data = {
                    rolesForAdd: rolesForAdd,
                    rolesForDelete: rolesForDelete
                };
                headers = {"Content-type": "application/json"};
                headers[header] = csrfToken;
                var jsonData = JSON.stringify(data);
                console.log(jsonData);
                fetch("http://localhost:8081/admin/change/role/" + document.getElementById("id").innerHTML, {
                    method: "POST",
                    headers: headers,
                    body: jsonData
                });
            }
        </script>
    </body>
</html>
